.gist .gist-meta {
  color: #6e7781;
  background: #181a1c;
}

.gist .gist-meta a {
  color: #807c87;
}

.gist .highlight {
  color: #c9d1d9;
  background: #24292e;
}

.gist .blob-code-inner {
  color: #c9d1d9;
}

.gist .blob-num {
  color: #8b949e;
}

.gist .pl-c {
  color: #959da5;
}

.gist .pl-c1,
.gist .pl-s .gist .pl-v {
  color: #c8e1ff;
}

.gist .pl-e,
.gist .pl-en {
  color: #b392f0;
}

.gist .pl-smi,
.gist .pl-s .gist .pl-s1 {
  color: #f6f8fa;
}

.gist .pl-ent {
  color: #7bcc72;
}

.gist .pl-k {
  color: #ea4a5a;
}

.gist .pl-s,
.gist .pl-pds,
.gist .pl-s .gist .pl-pse .gist .pl-s1,
.gist .pl-sr,
.gist .pl-sr .gist .pl-cce,
.gist .pl-sr .gist .pl-sre,
.gist .pl-sr .gist .pl-sra {
  color: #79b8ff;
}

.gist .pl-v,
.gist .pl-ml {
  color: #fb8532;
}

.gist .pl-bu {
  color: #d73a49;
}

.gist .pl-ii {
  color: #fafbfc;
  background-color: #d73a49;
}

.gist .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.gist .pl-sr .gist .pl-cce {
  color: #7bcc72;
}

.gist .pl-mh,
.gist .pl-mh .gist .pl-en,
.gist .pl-ms {
  color: #0366d6;
}

.gist .pl-mi {
  color: #f6f8fa;
}

.gist .pl-mb {
  color: #f6f8fa;
}

.gist .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.gist .pl-mi1 {
  color: #176f2c;
  background-color: #f0fff4;
}

.gist .pl-mc {
  color: #b08800;
  background-color: #fffdef;
}

.gist .pl-mi2 {
  color: #2f363d;
  background-color: #959da5;
}

.gist .pl-mdr {
  color: #b392f0;
}

.gist .pl-mo {
  color: #0366d6;
}

.gist .pl-ba {
  color: #ffeef0;
}

.gist .pl-sg {
  color: #6a737d;
}

.gist .pl-corl {
  color: #79b8ff;
}
